---
// TODO: eventually code up this form
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="refresh" content="0;url=https://form-23cf11.zapier.app/apply-to-snocap" />
		<title>Redirecting...</title>
	</head>
	<body>
		<p>If you are not redirected automatically, follow this <a href="https://form-23cf11.zapier.app/apply-to-snocap">link</a>.</p>
	</body>



</html>