---
import { t } from "utils/i18n";
import HeaderButtons from "./HeaderButtons.astro";
import Button from "components/button/Button.astro";

const { class: className = "" } = Astro.props;
const classes = Array.from(new Set(["logo-bar", className].filter(Boolean)));
---

<div class:list={classes}>
  <a class="link-logo link" href="/" title={t("Return home")}>
    <img
      class="main-logo-image"
      src="/assets/branding/logo-snocap-text.svg"
      alt={t("SNØCAP Logo")}
    />
  </a>
  <div class="desktop-buttons">
    <HeaderButtons class="link" orientation="horizontal" />
  </div>
  <div class="mobile-buttons">
    <Button class="opener">{t("Menu")}</Button>
  </div>
</div>

<style>
  .logo-bar,
  .desktop-buttons {
    display: flex;
    column-gap: 0.375rem;
  }
  .logo-bar {
    position: relative;
    padding: var(--row-gap) var(--gutter-width);
    z-index: 2;
    background-color: var(--color-secondary);
  }
  .link {
    height: 1.625rem;
  }
  .link-logo img {
    max-height: 80%;
    object-fit: contain;
    object-position: center center;
  }
  .link-logo {
    padding: 1px 0;
    flex-grow: 2;
    transition: opacity 0.3s;
    opacity: 1;
  }
  .link-logo:hover {
    opacity: 0.5;
  }
  .mobile-buttons {
    display: none;
  }
  @media (max-width: 742px) {
    .button.link {
      display: none;
    }
    .mobile-buttons {
      display: flex;
    }
    .desktop-buttons {
      display: none;
    }
  }
</style>
